{% unless pc %}<div class="flex" style="flex-direction: column; ">{% endunless %}
  {% if term == 'Lounge Wear' %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/lounge-wear" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Shop All</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/lounge-wear?filter.p.m.custom.tags=Lounge+Wear+Sets" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Lounge Wear Sets</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/lounge-wear?filter.p.m.custom.tags=Short+&+Long+Sleeves+Top" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Short & Long Sleeves Top</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/lounge-wear?filter.p.m.custom.tags=Shorts+&+Pants" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Shorts & Pants</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/lounge-wear?filter.p.m.custom.tags=Lounge+Robes" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Lounge Robes</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/lounge-wear?filter.p.m.custom.tags=Leather+Goods" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Leather Goods</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/lounge-wear?filter.p.m.custom.tags=Footwear" {% unless pc %}class="block px-4 py-3 after-6"{% endunless %}>Footwear</a> {% if pc  %}</li>{% endif %}
  {% elsif term == 'Bedlinens' %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedlinens" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Shop All</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedlinens?filter.p.m.custom.tags=Top+Sheet+Sets" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Top Sheet Sets</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedlinens?filter.p.m.custom.tags=Duvet+Cover+Sets" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Duvet Cover Sets</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedlinens?filter.p.m.custom.tags=Bedspread+Sets" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Bedspread Sets</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedlinens?filter.p.m.custom.tags=Quilt+Sets" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Quilt Sets</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedlinens?filter.p.m.custom.tags=Fitted+Sheet+Sets" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Fitted Sheet Sets</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedlinens?filter.p.m.custom.tags=Pillow+Cases" {% unless pc %}class="block px-4 py-3 after-6"{% endunless %}>Pillow Cases</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedlinens?filter.p.m.custom.tags=Euro+Shams" {% unless pc %}class="block px-4 py-3 after-6"{% endunless %}>Euro Shams</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedlinens?filter.p.m.custom.tags=Top+Sheets" {% unless pc %}class="block px-4 py-3 after-6"{% endunless %}>Top Sheets</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedlinens?filter.p.m.custom.tags=Duvet+Covers" {% unless pc %}class="block px-4 py-3 after-6"{% endunless %}>Duvet Covers</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedlinens?filter.p.m.custom.tags=Bedspreads" {% unless pc %}class="block px-4 py-3 after-6"{% endunless %}>Bedspreads</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedlinens?filter.p.m.custom.tags=Quilts" {% unless pc %}class="block px-4 py-3 after-6"{% endunless %}>Quilts</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedlinens?filter.p.m.custom.tags=Fitted+Sheets" {% unless pc %}class="block px-4 py-3 after-6"{% endunless %}>Fitted Sheets</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedlinens?filter.p.m.custom.tags=Decorative+Items" {% unless pc %}class="block px-4 py-3 after-6"{% endunless %}>Decorative Items</a> {% if pc  %}</li>{% endif %}
  {% elsif term == 'BATHLINENS' or term == 'Bathlinens' %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bathlinens" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Shop All</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bathlinens?filter.p.m.custom.tags=Towels+Sets" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Towels Sets</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bathlinens?filter.p.m.custom.tags=Towels" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Towels</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bathlinens?filter.p.m.custom.tags=Bathroom+Robes" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Bathroom Robes</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bathlinens?filter.p.m.custom.tags=Bathroom+Mats" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Bathroom Mats</a> {% if pc  %}</li>{% endif %}
  {% elsif term == 'Bedroom Essentials' %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedroom-essentials" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Shop All</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedroom-essentials?filter.p.m.custom.tags=Comforters+Sets" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Comforters Sets</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedroom-essentials?filter.p.m.custom.tags=Comforters" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Comforters</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedroom-essentials?filter.p.m.custom.tags=Pillows" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Pillows</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedroom-essentials?filter.p.m.custom.tags=Shams" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Shams</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/bedroom-essentials?filter.p.m.custom.tags=Mattresses+Toppers" {% unless pc %}class="block px-4 py-3 after-6"{% endunless %}>Mattresses Toppers</a> {% if pc  %}</li>{% endif %}
  {% elsif term == 'Home Deco' %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/home-deco" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Shop All</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/home-deco?filter.p.m.custom.tags=Dining+Linens+Sets" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Dining Linens Sets</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/home-deco?filter.p.m.custom.tags=Tablecloths" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Tablecloths</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/home-deco?filter.p.m.custom.tags=Placemats" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Placemats</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/home-deco?filter.p.m.custom.tags=Table+Napkins" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Table Napkins</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/home-deco?filter.p.m.custom.tags=Vintage+Items" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Vintage Items</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/home-deco?filter.p.m.custom.tags=Curtains" {% unless pc %}class="block px-4 py-3 after-6"{% endunless %}>Curtains</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/home-deco?filter.p.m.custom.tags=Beds" {% unless pc %}class="block px-4 py-3 after-6"{% endunless %}>Beds</a> {% if pc  %}</li>{% endif %}
  {% elsif term == 'Sale' %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/sale" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Shop All</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/sale?filter.p.m.custom.tags=Final+Sale" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Final Sale</a> {% if pc  %}</li>{% endif %}
    {% if pc  %}<li class="hover-underline">{% endif %}<a href="/collections/sale?filter.p.m.custom.tags=Seasonal+Sale+Deals" {% unless pc %}class="block px-4 py-3 "{% endunless %}>Seasonal Sale Deals</a> {% if pc  %}</li>{% endif %}
  {% endif %}
{% unless pc %}
  
  {% if view_all %}<div class="view-all bold">View All</div>{% endif %}
</div>{% endunless %}
