<div class="flex" style="flex-direction: column; align-items:flex-start;">
  {% if term == 'Lounge Wear' %}
    <a href="/pages/lounge-wear" class="block px-4 py-3 ">Shop All</a>
    <a href="/collections/pj-sets" class="block px-4 py-3">Lounge wear sets</a>
    <a href="/collections/tops" class="block px-4 py-3">Long & Short Sleeves Top</a>
    <a href="/collections/bottoms" class="block px-4 py-3">Shorts & Pants</a>
    {% comment %} <a href="/collections/sandels" class="block px-4 py-3">Sandels</a> {% endcomment %}
    <a href="/collections/lounge-robes" class="block px-4 py-3">Lounge Robes</a>
    <a href="/collections/bags" class="block px-4 py-3">Leather goods</a>
    <a href="/collections/footwear" class="block px-4 py-3">Footwear</a>
  {% elsif term == 'Bedlinens' %}
    <a href="/pages/bedlinens" class="block px-4 py-3 ">Shop All</a>
    <a href="/collections/top-sheet-sets" class="block px-4 py-3 ">Top sheet set</a>
    <a href="/collections/duvet-cover-sets" class="block px-4 py-3 ">Duvet cover set</a>
    <a href="/collections/bedspread-set" class="block px-4 py-3 ">Bedspread set</a>
    <a href="/collections/quilt-set-1" class="block px-4 py-3 ">Quilt set</a>
    <a href="/collections/fitted-sheet-sets" class="block px-4 py-3 ">Fitted sheet set</a>
    <a href="/collections/pillow-cases" class="block px-4 py-3 ">Pillow Cases</a>
    <a href="/collections/euroshams" class="block px-4 py-3 ">Euro shams</a>
    <a href="/collections/top-sheets" class="block px-4 py-3 ">Top sheets</a>
    <a href="/collections/duvet-covers-1" class="block px-4 py-3 ">Duvet covers</a>
    <a href="/collections/bedspread" class="block px-4 py-3 ">Bedspreads</a>
    <a href="/collections/quilts" class="block px-4 py-3 ">Quilts</a>
    <a href="/collections/fitted-sheets" class="block px-4 py-3 ">Fitted sheet</a>
    <a href="/collections/decortaive" class="block px-4 py-3 ">Decortaive</a>
  {% elsif term == 'BATHLINENS' %}
    <a href="/pages/bathlinens" class="block px-4 py-3 ">Shop All</a>
    <a href="/collections/towel-set" class="block px-4 py-3 ">Towel set</a>
    <a href="/collections/towels" class="block px-4 py-3 ">Towels</a>
    <a href="/collections/bath-robes" class="block px-4 py-3 ">Bath robes</a>

    <a href="/collections/mats" class="block px-4 py-3 ">Bathmats</a>
  {% elsif term == 'Bedroom Essentials' %}
    <a href="/pages/bedroom-essentials" class="block px-4 py-3 ">Shop All</a>
    <a href="/collections/comforter-sets" class="block px-4 py-3 ">Comforter sets</a>
    <a href="/collections/Comforters" class="block px-4 py-3 ">Comforters</a>
    <a href="/collections/pillows" class="block px-4 py-3 ">Pillows</a>
    <a href="/collections/shams" class="block px-4 py-3 ">Shams</a>
    <a href="/collections/toppers" class="block px-4 py-3 ">Toppers</a>
    <a href="/collections/mattresses" class="block px-4 py-3 ">Mattresses</a>
  {% elsif term == 'Home Deco' %}
    <a href="/pages/home-deco" class="block px-4 py-3 ">Shop All</a>
    <a href="/collections/tablecloth-sets" class="block px-4 py-3">Dining linens sets</a>
    <a href="/collections/tablecloths" class="block px-4 py-3">Tablecloth</a>
    <a href="/collections/place-mats" class="block px-4 py-3">Placemats</a>
    <a href="/collections/napkins" class="block px-4 py-3">Table Napkins</a>
    <a href="/collections/plate-sets" class="block px-4 py-3">Plate sets</a>
    <a href="/collections/curtains" class="block px-4 py-3">Curtains</a>
    <a href="/collections/Beds" class="block px-4 py-3">Beds</a>
  {% elsif term == 'Sale' %}
    <a href="/pages/sale" class="block px-4 py-3 ">Shop All</a>
    <a href="https://cloud9linens.com/collections/sales-collection" class="block px-4 py-3">Final sale</a>
    <a href="https://cloud9linens.com/collections/seasonal-sale-deals" class="block px-4 py-3">Seasonal Sale Deals</a>
  {% endif %}
</div>
