{%- unless collection.filters == empty -%}
  <div class="collection-counter-container">
    <p id="CollectionProductCountDesktop" class="collection-product-count light" role="status">
      {%- if collection.products_count == collection.all_products_count -%}
      	
      	{% comment %}
      	MTS
        {{collection.products_count}} product(s)
      	{% endcomment %}
      
      	Results {{collection.products_count}}
      {%- else -%}
        {{ 'sections.collection_template.product_count' | t: product_count: collection.products_count, count: collection.all_products_count }}
      {%- endif -%}
    </p>
  </div>
{%- endunless -%}