<div data-recover-form class="cus-account-form">
  {% form 'recover_customer_password' %}
  
      <h3 class="cus-account-heading font-medium mb-4 mt-5 text-center c-title   {% if form.posted_successfully? %}force-hide{% endif %}">Forgot Your Password</h3>
      <p class="cus-account-text mb-6 c-desc text-center {% if form.posted_successfully? %}force-hide{% endif %}">
        Provide your account email address to receive an email to reset your password
      </p>
    {% comment %}
      MTS
       <input class="form-control" type="email" name="email"
           placeholder="{{ 'customer.recover_password.email' | t }}" spellcheck="false" autocomplete="off"
           autocapitalize="off" />
    {% endcomment %}
    <form-control-group class="{% if form.posted_successfully? %}force-hide{% endif %}" data-no-tips="{% if form.posted_successfully %}true{% endif %}">
      <label class="cus-account-label">Email</label>
      <input
        class="form-control"
        type="email"
        name="email"
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off"
    ></form-control-group>

    <div class="cus-forget-password-btn flex mt-2"> 
      {% comment %}
        MTS
         <button type="submit" class="sf__btn sf__btn-primary block w-full md:w-2/3 cus-forget-password-submit">
             {{ 'customer.recover_password.submit' | t }}
         </button>
      {% endcomment %}
      <button
        type="submit"
        onClick="redirect()"
        id="password-reset-btn"
        class="sf__btn {% if form.posted_successfully? %}force-hide{% endif %} sf__btn-primary block w-full md:w-2/3 cus-forget-password-submit bg-btn c-btn"
      >
        SUBMIT
      </button>
      <button
        type="button"
        data-recover-toggle
        class="sf__btn-secondary {% if form.posted_successfully? %}force-hide{% endif %} sf-customer__cancel-reset block w-full md:w-1/3 md:ml-4 cus-forget-password-cancel c-btn"
      >
        {{ 'customer.recover_password.cancel' | t }}
      </button> 
      {% if form.posted_successfully? %}
        <script>
          if (document.querySelector(".show-recover-password-form")) {
    document.querySelector(".web-account-section").classList.add("reset-pwd");
  }
        </script>
        <h1 class="text-center 1c-title">REQUEST TO RESET YOUR PASSWORD HAS BEEN RECEIVED</h1>
      <p class="my-custom-font-size prose rte mt-4 text-color-subtext cus_para h3 text-center">
       Thank you for submitting your email address. We have sent you an email with information needed to reset your password. The email might take a couple of minutes to reach your account. Please check your junk to ensure you received it.
      </p>
     <div class="notification show success mt-5 mb-2 text-base sf-customer__recover-form-posted force-hide">
        {{ 'customer.recover_password.success' | t }}
      </div> 
        <br/>
        <div  class="text-center">
        <a href="/" class="sf__btn-link a-link f-12" style="font-family:Source Code Pro!important;">Go to Home Page

</a>
        </div>
    {% endif %}
    {% render 'form__error', form: form %}
    </div>
  {% endform %}
</div>

<script>
  //   document.getElementById("password-reset-btn").onclick = function () {
  //     window.location.replace("/pages/reset-password");
  //   };
  //   function redirect()
  //   {
  //     var url = "/pages/reset-password";
  //     window.location(url);
  //   }
  //   function redirect() {
  //     window.location.replace("/pages/reset-password");
  //   }
</script>
