{%- capture form_id -%}contact-form__{{ "now" | date: "%L" }}{%- endcapture -%}
{%- capture form_class -%}sf__footer-form-newsletter form__style-{{ block_settings.form_style }}{%- endcapture -%}
{% form 'customer', id: form_id, class: form_class %}
  <input
    type="hidden"
    name="contact[tags]"
    value="newsletter">
  <div class="relative ftr-flx" style="gap:20px;">
    <form-control-group>
      <label class="cus-account-label">ENTER EMAIL</label>
    <input
      style="margin:0 !important"
      id="subs_batn"
      type="email"
      required
      name="contact[email]"
      data-placeholder="{{ block_settings.email_placeholder }}"
      autocorrect="off"
      autocapitalize="off"
      autocomplete="off"
      spellcheck="false"
      class="form-control " style="">
    {% unless block_settings.form_style == 'minimal' %}
      <span class="sf__footer-form-newsletter-icon absolute">
        {% render 'icon', name: 'envelope', size: 'small' %}
      </span>
    {% endunless %}
    </form-control-group>
  
    <div class="cus-ftr-btn">
    <div class="custom_input_type">
     <!--
      <input
          type="checkbox"
          name="Radio"
          value="" /> 
     --->
          <p class="ftr-read cus_fonts_source"><a href="/pages/privacy-policy" title="Privacy Policy">Click here</a> to read Cloud9linens privacy notice. Or <a href="/pages/customer-care-contact-us">contact us</a></p>
    </div>
  </div>
 
  
  <div class="ftr-bttn">
  <button
      type="submit"
      name="commit"
      class="sf__form-submit absolute cus_fonts_source cstm__ftr__btn">
      {% render 'icon', name: 'arrow-right', size: 'small' %}
    </button>
  </div>
  </div>
  {% if settings.agree_text != blank and block_settings.show_agree_checkbox %}
    {% render 'agree-terms-checkbox' %}
  {% endif %}

  {% render 'form__error', form: form %}

  {%- capture success_message -%}
    {{ 'general.newsletter_form.confirmation' | t }}
  {%- endcapture -%}
  {% render 'form__success', form: form, success_message: success_message %}
{% endform %}
