<br>
<br>
<br>
<br>
<link rel="stylesheet" href="{{'customer-global.css'| asset_url }}" as="style">
<div style="text-align: center;">Enter your tracking number here to see your order status.</div>

<div style="text-align: center;">
  <input maxlength="50" id="YQNum" type="text" class="input">
  <input value="TRACK" type="button" onclick="doTrack()" class="sf__btn-primary">
</div>
<div id="YQContainer"></div>
<br>
<br>
<br>
<br>
<!-- Script code can be put in the bottom of the page, wait until the page is loaded then execute. -->
<script type="text/javascript" src="//www.17track.net/externalcall.js"></script>
<script type="text/javascript">
  // <![CDATA[
  function doTrack() {
    var num = document.getElementById('YQNum').value;
    if (num === '') {
      alert('Enter your number.');
      return;
    }
    YQV5.trackSingle({
      //Required, Specify the container ID of the carrier content.
      YQ_ContainerId: 'YQContainer',
      //Optional, specify tracking result height, max height 800px, default is 560px.
      YQ_Height: 560,
      //Optional, select carrier, default to auto identify.
      YQ_Fc: '0',
      //Optional, specify UI language, default language is automatically detected based on the browser settings.
      YQ_Lang: 'en',
      //Required, specify the number needed to be tracked.
      YQ_Num: num,
    });
  }
  // ]]>
</script>
