<div class="pwd-icon">
  <img
    class="a"
    src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyOSAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMTAuNDQxM0MwIDEwLjQ0MTMgMy40ODU0OSAwLjQzNTY2OSAxNC40NTE0IDAuNDM1NjY5QzI1LjQxNzIgMC40MzU2NjkgMjkgMTAuNDQxMyAyOSAxMC40NDEzQzI5IDEwLjQ0MTMgMjUuNjI5IDIwLjQzNTcgMTQuNTAyOSAyMC40MzU3QzMuMzc2NzUgMjAuNDM1NyAwIDEwLjQ0MTMgMCAxMC40NDEzWiIgZmlsbD0iI0M2QzhDQyIvPgo8Y2lyY2xlIGN4PSIxNC42MTgyIiBjeT0iMTAuNjA3MSIgcj0iNyIgZmlsbD0id2hpdGUiLz4KPGNpcmNsZSBjeD0iMTQuNTUzNyIgY3k9IjEwLjUzODYiIHI9IjQiIGZpbGw9IiNDNkM4Q0MiLz4KPC9zdmc+Cg=="
    alt=""
  >
  <img
    class="b"
    src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyOSAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMTAuNDQxM0MwIDEwLjQ0MTMgMy40ODU0OSAwLjQzNTY2OSAxNC40NTE0IDAuNDM1NjY5QzI1LjQxNzIgMC40MzU2NjkgMjkgMTAuNDQxMyAyOSAxMC40NDEzQzI5IDEwLjQ0MTMgMjUuNjI5IDIwLjQzNTcgMTQuNTAyOSAyMC40MzU3QzMuMzc2NzUgMjAuNDM1NyAwIDEwLjQ0MTMgMCAxMC40NDEzWiIgZmlsbD0iI0M2QzhDQyIvPgo8Y2lyY2xlIGN4PSIxNC42MDU1IiBjeT0iMTAuNjA3MSIgcj0iNyIgZmlsbD0id2hpdGUiLz4KPGNpcmNsZSBjeD0iMTQuNTM3MSIgY3k9IjEwLjUzODYiIHI9IjQiIGZpbGw9IiNDNkM4Q0MiLz4KPHBhdGggZD0iTTIuNSAxOC45MzU2TDI2LjQ5NjggMi42NTIxIiBzdHJva2U9IiM5RDlGQTMiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz4KPC9zdmc+Cg=="
    alt=""
  >
</div>

