{%- capture page_title -%}
    {{ 'customer.register.title' | t }}
{%- endcapture -%}
{% render 'login-page' %}
<!-- <div class="hidden">
{% render 'page-title', title: page_title %}
</div> -->

{% comment %}
Added by MTS
{% endcomment %}
<!-- <div class="flex web-container-account-title mob-container-wrapper mob-collection-title-wrapper mb-3 md:mb-0 cus-margin-top">
  <p class="mob-collection-title">Create Account</p>
</div> -->

<!-- <div class="flex">
  <div class="hidden md:block web-account-section">
    <ul class="mt-16">
      <li class="py-3"><span>Cloud9Linens</span> Account Helps With</li>
      <li class="py-3">Check out faster with saved information</li>
      <li class="py-3">Track your order easier</li>
      <li class="py-3">Enjoy your personlized shopping experience</li>
    </ul>
  </div>

  <div class="pb-8 md:pb-8 md:pt-6 md:w-2/3">
      <div class="mx-auto w-5/6 xl:w-2/3 2xl:w-1/2"> -->

        {% comment %}
        MTS
        <div class="globo-formbuilder" data-id="NzQ1MjU="></div>

        <h1 class="text-2xl font-medium mb-4">{{ 'customer.register.title' | t }}</h1>
        {% endcomment %}

        <!-- <h3 class="flex cus-account-heading font-medium mb-4 mt-5 md:mb-6">Welcome to Cloud9Linens!</h3> -->
        <!-- {% render 'form__register' %}

      </div>
  </div>
</div> -->
