{%- liquid
  echo section.id
  assign product = all_products[section.id]
%}
<div
  id="p-container"
  {% for v in product.variants %}
    data-v-{{ v.id }}-avaiable="{{v.availble}}"
  {% endfor %}
></div>

