:root {
  --duration-short: .1s;
  --duration-default: .2s;
  --duration-long: .5s;
  --primary-color: #041d3a;
  --primary-family: Source Code Pro;
}
.p-block.p-price span {
  text-decoration: line-through;
}
t-popup {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 400px;
  z-index: 1120;
  background: white;

  transform: translateX(100%);
  visibility: hidden;
  transition: transform var(--duration-long) ease, visibility 0s var(--duration-long) ease;
}

t-popup.active:before {
  content: ' ';
  position: absolute;
  width: 100vw;
  height: 100%;
  background: #00000047;
  z-index: 11111111111;
  right: 100%;
  overflow: visible;
}

t-popup.active {
  transform: translateX(0);
  transition: transform 0.6s ease;
  visibility: visible;
}
section.sf-header.cart-has-items.stuck .icon-fill-cart path:first-child {
  fill: #041d3a;
}
section.sf-header.cart-has-items .cart-icon {
  transform: scale(0.89);
}
section.header__22.mw___header:not(.stuck) .mw_icon_style.mw_icon_style_search{
  stroke: white;
}



.relative {
  position: relative;
}

.t-spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

.t-path {
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: white;
  animation: dash 1.4s ease-in-out infinite;
}

@media screen and (forced-colors: active) {
  .t-path {
    stroke: CanvasText;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 280;
  }

  50% {
    stroke-dashoffset: 75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(450deg);
  }
}

svg.t-spinner {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
}

t-popup .h-full {
  height: auto;
}

t-popup>div.pop-container .w-full {
  overflow: auto;
  max-height: 100vh;
}

t-popup>div.pop-container {
  position: relative;
  height: 100%;
}

.t-add-to-cart-slide .sf-prod__container {
  margin: 0 0;
}

.t-add-to-cart-slide {
  height: 100%;
  padding-right: 0px;
}

.t-add-to-cart-slide select.mw_quantity {
  width: 100px;
  text-align: center;
}

t-variant-radios [name="Color"][type=radio]:checked+label {
  border: 1px solid #061e3a;
}

t-popup[type="left-right"] {
  max-width: 850px;
  width: 850px;
}

t-popup[view-type="t-added-to-cart-slide"] {
  max-width: 720px;
  width: 720px;
}

t-variant-radios .color-options label span {
  display: none;
}

a.button.sf__btn.sf__btn-primary.btn-contine {
  margin-top: 10px;
}

.splitor-line {
  border-bottom: 1px solid #061e3a;
  margin: 20px 0;
}

t-added-to-cart-slide .p-block,
.added-to-cart-img img {
  max-width: 320px;
  margin: 0 auto;
  display: block;
}

.t-add-to-cart-slide .klaviyo-form form input[type=email] {
  box-shadow: inset 1px 60px 1px #fff;
}

t-popup[type=left-right] t-added-to-cart-slide.t-add-to-cart-slide .w-full.small--hide {
  flex: auto;
  width: 290px;
  max-width: 290px;
  background: #f1f1f1;
  flex-basis: 0;
}

.items-look {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

t-variant-radios .color-options label {
  height: 30px;
  width: 30px !important;
  padding: 0;
  border-radius: 5px;
}

.color-options>span>span {
  padding-left: 10px;
  text-transform: capitalize;
  font-weight: normal !important;
}

.klaviyo-form-customize>span {
  font-family: var(--primary-family) !important;
  font-size: 10px !important;
  font-weight: normal !important;
}

.klaviyo-form-customize,
t-popup .zoom-in,
t-popup>div>* {
  display: none;
}

t-popup[view-type="t-added-to-cart-slide"] t-added-to-cart-slide,
t-popup[view-type="t-add-to-cart-slide"] t-add-to-cart-slide {
  display: block;
}

t-popup[type="left-right"] .t-add-to-cart-slide .sf-prod__container {
  flex-direction: row;
  flex-wrap: nowrap;
}

.pop-close div {
  display: block;
}

.pop-close .cls_icon {
  top: 0px;
  right: 0;
}

.pop-close svg {
  width: 100%;
  height: 100%;
}

.pop-close {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  width: 18px;
  height: 18px;
}

t-popup[type="left-right"] .t-add-to-cart-slide .sf-prod__container>div {
  flex: 1;
}

.t-add-to-cart-slide .sf-prod-media__wrapper .px-5 {
  padding: 0;
}

t-added-to-cart-slide .sf-prod-media__wrapper {
  width: 85%;
  margin: 0 auto;
}

.p-info {
  padding: 20px !important;
  width: auto;
}

.t-add-to-cart-slide .sf-prod__container>div,
.t-add-to-cart-slide .sf-prod__container {
  padding: 0px;
}

.t-add-to-cart-slide .sf-prod-media__wrapper {
  position: relative;
  max-height: unset;
  overflow: hidden;
  top: 0;
  padding: 0;
}

.t-add-to-cart-slide .prod__option-label--button>a,
.t-add-to-cart-slide .cus-prod-option-label>a {
  display: none;
}


t-popup .select-selected:after{
  background-image:none !important;
}
t-popup .sf__btn,
.t-add-to-cart-slide form {
  display: block;
  width: 100%;
}

.p-block {
  margin: 10px 0;
}

.cart__submit.sf__btn-primary,
.t-add-to-cart-slide .sf__btn.sf__btn-primary,
.t-add-to-cart-slide .sf__btn.sf__btn-primary:focus,
.t-add-to-cart-slide .sf__btn.sf__btn-primary:hover {
  background: #041e3a !important;
  color: white !important;
  font-size: 12px !important;
  font-family: var(--primary-family);
}

.t-add-to-cart-slide .product-form__actions {
  display: flex;
  gap: 0px;
  padding: 0;
}

t-variant-radios [type="radio"][disabled="disabled"]+label {
  position: relative;
}

t-variant-radios [type="radio"][disabled="disabled"]+label:after {
  position: absolute;
  content: ' ';
  transform: rotate(8deg);
  border-bottom: 1px solid #fff;
  width: 100%;
}

t-variant-radios [type=radio][disabled=disabled]+label {
  background-color: #061d3a;
  color: white;
}

.t-add-to-cart-slide .product-form__actions [type="submit"] {
  flex: 1;
  font-family: var(--primary-family);
}

.t-add-to-cart-slide .product-form__actions [type="button"] {
  width: 42px;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.underline {
  text-decoration: underline;
  ;
}

.t-add-to-cart-slide .klaviyo-form {
  height: 50px;
  margin: 5px 0 10px;
}

.p-block.p-variants {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-family);
  font-size: 12px;
  font-weight: bold !important;
}

.p-block.p-variants b {
  font-weight: normal !important;
}

.t-add-to-cart-slide .klaviyo-form span {
  font-family: var(--font-stack-body) !important;

}

.t-add-to-cart-slide .klaviyo-form span,
.t-add-to-cart-slide .klaviyo-form form button {
  font-size: 12px !important;
  border-radius: 0px !important;
}

.t-add-to-cart-slide .klaviyo-form form button {
  background: #061e3a !important;
  font-family: var(--primary-family) !important;
}

.t-add-to-cart-slide .klaviyo-form form {
  height: 92px;
  padding: 0 !important;
}

.t-add-to-cart-slide .klaviyo-form form>div {
  min-height: unset !important;
}

.t-add-to-cart-slide .klaviyo-form form input[type=email]::placeholder,
.t-add-to-cart-slide .klaviyo-form form input[type="email"] {
  letter-spacing: normal !important;
  font-size: 12px !important;
  font-family: Source Code Pro !important;
  border-radius: 0 !important;
}

t-add-to-cart-slide .klaviyo-form form input[type="email"].needsclick:hover,
t-add-to-cart-slide .klaviyo-form form input[type="email"]:focus {
  border: 1px solid rgb(8 30 58) !important;
}

t-variant-radios input[type=radio] {
  width: 1px;
  height: 1px;
  opacity: 0;
  padding: 0;
  position: absolute;
  margin: 0;
  border: 0;
}

t-variant-radios fieldset>div {
  padding: 0px 0 10px;
}

t-variant-radios input[type=radio]+label:hover,
t-variant-radios input[type=radio]:checked+label {
  font-weight: 700;
  background-color: var(--primary-color);
  border: 0px solid var(--primary-color);
  color: white;
}


.scd-item__variant {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

t-variant-radios input[type=radio]+label:hover {
  background-color: #041d3aa8;
}

t-variant-radios label {
  font-family: Source Code Pro !important;
  font-size: 12px;
  cursor: pointer;
  border: 0px solid #041d3aa8;
  font-size: 12px;
  border-radius: 50px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  white-space: nowrap;
}

t-variant-radios fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 11px;
}

.disabled, [disabled] .added-to-cart-img img {
  display: block;
  margin: 0 auto;
}

span.size-container.flex-center {
  justify-content: flex-start;
  font-family: var(--primary-family);
  text-transform: uppercase;
  font-weight: bold !important;
  margin-bottom: 6px;
}

.size-container span {
  text-transform: capitalize;
  font-weight: normal;
  padding-left: 10px;
}

.t-add-to-cart-slide .sf__btn.sf__btn-primary {
  text-transform: uppercase;
}

.p-block.p-collections>span {
  font-family: var(--primary-family);
  font-weight: bold;
  text-transform: uppercase;
}

.p-block.p-collections>div {
  font-family: var(--primary-family);
}

span.size-container,
.p-block.p-collections,
.p-vendor {
  font-family: "GFS Didot", serif;
}

span.size-container,
.p-block.p-collections,
.p-collections,
.p-vendor {
  font-weight: 500 !important;
  font-size: 12px !important;
  color: #041d3a !important;
}

.p-title {
  color: var(--primary-color) !important;
  font-weight: 600 !important;
}

t-add-to-cart-slide .p-title {
  padding-top: 35px;
}
.sf__pcard-content .posi_absolute {
  right: 0;
}
.sf__pcard-content .price--on-sale,
.p-price {
  font-family: Source Code Pro !important;
  font-size: 12px !important;
}

.sf__pcard-content .posi_absolute {
  right: 0;
}

.mob-pcard-content>div {width: 100%;}

.mob-pcard-content>div .price--on-sale {
  display: flex;
  justify-content: space-between !important;
  width: 100% !important;
  flex-direction: row-reverse;
}

.added-to-cart svg {
  width: 28px;
  height: auto;
}

.h3.text-center.added-to-cart {
  padding-bottom: 20px;
  display: flex;
}

t-added-to-cart-slide .h3 {
  padding: 23px 0;
  display: block;
  font-weight: bold;
}

t-added-to-cart-slide .p-block.p-title {
  font-size: 12px;
  font-family: "PT Serif" !important;
}
.item-look {
  width: calc(95% - 75px);
  margin: 0 auto;
}

.added-to-cart {
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 320px;
  gap: 10px;
  margin: 0 auto 20px;
}
.notification>div, .notification.warning{
  font-family: Source Code Pro !important;
  font-size: 10px !important;
  justify-content: center;
}
.added-to-cart span.h2 {
  font-weight: bold;
  flex: 1;
}
@media (min-width: 768px) {
  .small--show {
    display: none;
  }

  .small--hide {
    display: block;
  }
}
[value="Default Title"]+label {
  display: none !important;
}
.add-to-wishlist {
  max-width: 70px;
}
.font-18{font-size: 18px;;}
@media (max-width: 767px) {
  .mob-pcard-content .pb-2 {
    padding-left: 10px;
}
  .res-cart-hidden1 {
    margin-bottom: 10px;
  }
  .my-custom-font-size {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .small--show {
    display: block;
  }

  .small--hide {
    display: none;
  }


  t-popup[type=left-right] {
    width: 100vw;
  }

  .t-add-to-cart-slide .sf-prod-media__wrapper {
    overflow: auto;
  }

  .t-add-to-cart-slide .sf-product-media__mobile {
    display: flex;
    width: calc(75vw* 2);
    gap: 10px;
    margin: 0 auto 20px;
  }

  .t-add-to-cart-slide .mobile__slider.product-mb__media.product-page-mobile__slider {
    width: 75vw;
  }
}

.color-options {
  margin-top: 25px;
}

.p-block.p-price {
  margin-top: 10px !important;
}

.p-block.p-vendor {
  margin-bottom: 10px;
  margin-top: 10px;
}

t-add-to-cart-slide .p-title {
  margin-bottom: 0;
}

t-add-to-cart-slide .p-block {
  margin: 25px 0;
}


.p-block.p-collections>div {
  margin-top: 8px;
}
t-popup button.sf__btn.sf__btn-primary.add-to-wishlist.added-to-wishlist .hrt-icon {
  display: none;
}

t-popup button.sf__btn.sf__btn-primary.add-to-wishlist.added-to-wishlist .heart_red path {
  fill: white;
}